<% layout('../partials/boilerplate.ejs') %>
    <h1>Detailed view</h1>
    <p>Quote Text: <%= quoteToDisplay.text %></p>
    <p>Author/Speaker: <%= quoteToDisplay.author %></p>
    <% if (quoteToDisplay.subject) { %>
    <p>Subject: <%= quoteToDisplay.subject %></p>
    <% } %> <% if (quoteToDisplay.source) { %>
    <p>Source: <%= quoteToDisplay.source %></p>
    <% } %> <% if (quoteToDisplay.sourceDetails) { %>
    <p>Source Details: <%= quoteToDisplay.sourceDetails %></p>
    <% } %> <% if (quoteToDisplay.year) { %>
    <p>Year: <%= quoteToDisplay.year %></p>
    <% } %>
    <p>Quote added to database on <%= quoteToDisplay.createdAt %>.</p>
    <% if (quoteToDisplay.updatedAt) { %>
    <p>Quote last updated on <%= quoteToDisplay.updatedAt %>.</p>
    <% } %>
    <a type="button" class="button" href="/quotes/<%=quoteToDisplay._id%>/edit">Edit this Quote</a>
    <form action="/quotes/<%=quoteToDisplay._id%>?_method=DELETE" method="POST">
      <button type="submit" class="button">Delete Quote</button>
    </form>
